/* CategoryPage.css */
.category-title {
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 2px solid #FFA500;
    display: inline-block;
}

.card-container {
    display: flex;
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 16px;
    /* Space between cards */
}
.loader-container-category {
    position: fixed;
    /* Fixed position to cover the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}