/* ProductDetailsPage.css */
.product-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.product-container {
    margin: 50px;
}

.product-title {
    margin-bottom: 16px;
}

.product-description {
    margin-top: 16px;
}

.product-rating {
    margin-top: 16px;
}

.product-price {
    margin-top: 20px;
}

.add-to-cart-button {
    margin-top: 20px;
}